body, html {
  height: 100%;
  background-color: #e0e0e2;
  font-family: Arial, Helvetica;
}

h2 {
  color: #416788;
  text-align: center;
}

h3 {
    text-align: center;
    color: #7389ae;
}

#dataForm {
  display: table;
  text-align: center;
  margin: 0 auto;
}

#dataForm td:first-child {
  text-align: right;
}

#dataForm td input   {
  border: thin solid #7389ae;
}

.result {
  text-align: center;
}

.amount {
  font-weight: bold;
  text-decoration: underline;
}
